<h1 style='text-align: center;'>Movie Details</h1>

<div style='display:flex;'>

  <div style='margin:20px'>
    <p>
      <img src='{{image}}' alt='' style='widht: 200px;height:400px' />
    </p>
  </div>

  <div style='background-color: rgba(65, 65, 65, 0.7); font: size 30px;'>

    <a href='/movies' style='text-decoration:none; color:00b7ff'>Back</a>
    <h1>
      Title:
      {{title}}
    </h1>
    <p>
      Director:
      {{director}}
    </p>
    <p>
      Stars:
      {{stars}}
    </p>
    <p>
      Description:
      <br />
      {{description}}
    </p>
    <p>
      {{showtimes}}
    </p>
  </div>

</div>